# Node modules
node_modules/
package-lock.json
package.json

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Optional: VSCode settings
.vscode/
